In [1]:
pip install tabula-py

Collecting tabula-py
  Downloading tabula_py-2.10.0-py3-none-any.whl.metadata (7.6 kB)
Requirement already satisfied: pandas>=0.25.3 in c:\users\andrey\anaconda3\lib\site-packages (from tabula-py) (2.2.2)
Requirement already satisfied: numpy>1.24.4 in c:\users\andrey\anaconda3\lib\site-packages (from tabula-py) (1.26.4)
Requirement already satisfied: distro in c:\users\andrey\anaconda3\lib\site-packages (from tabula-py) (1.9.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\andrey\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\andrey\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\andrey\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\andrey\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.25.3->tabula-py) (1.16.0)
Downloading tabula_py-2.10.0-py3-none-any.whl (12.0 MB)
   ---------------------------------------- 0.0/12.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/12.0 MB ? eta -:--:--
   --- ------------------------------------ 1.0/12.0 MB 4.2 MB/s eta 0:00:03
   --- ------------------------------------ 1.0/12.0 MB 4.2 MB/s eta 0:00:03
   ------------ --------------------------- 3.7/12.0 MB 6.1 MB/s eta 0:00:02
   ---------------- ----------------------- 5.0/12.0 MB 6.0 MB/s eta 0:00:02
   ------------------- -------------------- 5.8/12.0 MB 5.4 MB/s eta 0:00:02
   ---------------------- ----------------- 6.8/12.0 MB 5.6 MB/s eta 0:00:01
   ------------------------ --------------- 7.3/12.0 MB 5.3 MB/s eta 0:00:01
   -------------------------- ------------- 7.9/12.0 MB 5.0 MB/s eta 0:00:01
   ---------------------------- ----------- 8.7/12.0 MB 4.6 MB/s eta 0:00:01
   ----------------------------- ---------- 8.9/12.0 MB 4.5 MB/s eta 0:00:01
   ------------------------------ --------- 9.2/12.0 MB 4.3 MB/s eta 0:00:01
   -------------------------------- ------- 9.7/12.0 MB 3.9 MB/s eta 0:00:01
   --------------------------------- ------ 10.0/12.0 MB 3.9 MB/s eta 0:00:01
   ---------------------------------- ----- 10.2/12.0 MB 3.7 MB/s eta 0:00:01
   ---------------------------------- ----- 10.5/12.0 MB 3.4 MB/s eta 0:00:01
   ---------------------------------- ----- 10.5/12.0 MB 3.4 MB/s eta 0:00:01
   ----------------------------------- ---- 10.7/12.0 MB 3.2 MB/s eta 0:00:01
   ------------------------------------ --- 11.0/12.0 MB 3.0 MB/s eta 0:00:01
   ------------------------------------ --- 11.0/12.0 MB 3.0 MB/s eta 0:00:01
   ------------------------------------- -- 11.3/12.0 MB 2.8 MB/s eta 0:00:01
   ------------------------------------- -- 11.3/12.0 MB 2.8 MB/s eta 0:00:01
   -------------------------------------- - 11.5/12.0 MB 2.5 MB/s eta 0:00:01
   -------------------------------------- - 11.5/12.0 MB 2.5 MB/s eta 0:00:01
   -------------------------------------- - 11.5/12.0 MB 2.5 MB/s eta 0:00:01
   -------------------------------------- - 11.5/12.0 MB 2.5 MB/s eta 0:00:01
   ---------------------------------------  11.8/12.0 MB 2.2 MB/s eta 0:00:01
   ---------------------------------------  11.8/12.0 MB 2.2 MB/s eta 0:00:01
   ---------------------------------------  11.8/12.0 MB 2.2 MB/s eta 0:00:01
   ---------------------------------------  11.8/12.0 MB 2.2 MB/s eta 0:00:01
   ---------------------------------------  11.8/12.0 MB 2.2 MB/s eta 0:00:01
   ---------------------------------------- 12.0/12.0 MB 1.9 MB/s eta 0:00:00
Installing collected packages: tabula-py
Successfully installed tabula-py-2.10.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
import tabula

# Извлечь все таблицы из PDF (возвращает список DataFrame)
tables = tabula.read_pdf("document.pdf", pages="all", multiple_tables=True)

# Сохранить таблицы в CSV
for i, table in enumerate(tables, start=1):
    table.to_csv(f"table_{i}.csv", index=False)

# Или извлечь таблицу с конкретной страницы и области (если нужно уточнить)
tables = tabula.read_pdf(r"E:\_Diary\Buh_data\Выписка по счёту кредитной карты.pdf", pages=2, area=(50, 50, 500, 500))

FileNotFoundError: [Errno 2] No such file or directory: 'document.pdf'

In [5]:
import tabula

In [11]:
# Извлечь все таблицы из PDF (возвращает список DataFrame)
tables = tabula.read_pdf(r"E:\_Diary\Buh_data\Выписка по счёту кредитной карты.pdf", pages="all", multiple_tables=True)

In [9]:
pip install JPype1

Collecting JPype1
  Downloading jpype1-1.5.2-cp312-cp312-win_amd64.whl.metadata (5.0 kB)
Requirement already satisfied: packaging in c:\users\andrey\anaconda3\lib\site-packages (from JPype1) (25.0)
Downloading jpype1-1.5.2-cp312-cp312-win_amd64.whl (356 kB)
Installing collected packages: JPype1
Successfully installed JPype1-1.5.2
Note: you may need to restart the kernel to use updated packages.

In [13]:
for i, table in enumerate(tables, start=1):
    table.to_csv(f"E:\\_Diary\\Buh_data\\table_{i}.csv", index=False, encoding='ANSI')

In [15]:
for i, table in enumerate(tables, start=1):
    print(type(table))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [17]:
tables[0]

,27.06.2025,18:57,Перевод на карту,"+92 364,00","251 759,36"
0,27.06.2025,076494,Перевод от М. Андрей Борисович. Операция по карте,NaN,NaN
1,NaN,NaN,****8519,NaN,NaN
2,27.06.2025,18:35,Супермаркеты,"429,07","159 395,36"
3,27.06.2025,330631,MOSCOW PYATEROCHKA (191). Операция по карте,NaN,NaN
4,NaN,NaN,****8519,NaN,NaN
5,27.06.2025,13:37,Рестораны и кафе,"201,00","159 824,43"
6,27.06.2025,210697,MOSCOW FRESHKAFE. Операция по карте ****8519,NaN,NaN
7,27.06.2025,09:26,Рестораны и кафе,"45,00","160 025,43"
8,27.06.2025,211097,MOSCOW FRESHKAFE. Операция по карте ****8519,NaN,NaN
9,26.06.2025,12:31,Рестораны и кафе,"197,00","160 070,43"
10,26.06.2025,313600,MOSCOW FRESHKAFE. Операция по карте ****8519,NaN,NaN
11,26.06.2025,09:18,Рестораны и кафе,"45,00","160 267,43"
12,26.06.2025,807632,MOSCOW FRESHKAFE. Операция по карте ****8519,NaN,NaN
13,25.06.2025,21:26,Супермаркеты,"259,98","160 312,43"

In [19]:
df = tables[0]

In [25]:
pd.DataFrame(df.columns)

                  0
0        27.06.2025
1             18:57
2  Перевод на карту
3        +92 364,00
4        251 759,36

In [23]:
import pandas as pd

In [33]:
pd.concat([pd.DataFrame(df.columns).T, df])

,0,1,2,3,4,27.06.2025,18:57,Перевод на карту,"+92 364,00","251 759,36"
0,27.06.2025,18:57,Перевод на карту,"+92 364,00","251 759,36",NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,27.06.2025,076494,Перевод от М. Андрей Борисович. Операция по карте,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,****8519,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,27.06.2025,18:35,Супермаркеты,"429,07","159 395,36"
3,NaN,NaN,NaN,NaN,NaN,27.06.2025,330631,MOSCOW PYATEROCHKA (191). Операция по карте,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,****8519,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,27.06.2025,13:37,Рестораны и кафе,"201,00","159 824,43"
6,NaN,NaN,NaN,NaN,NaN,27.06.2025,210697,MOSCOW FRESHKAFE. Операция по карте ****8519,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,27.06.2025,09:26,Рестораны и кафе,"45,00","160 025,43"
8,NaN,NaN,NaN,NaN,NaN,27.06.2025,211097,MOSCOW FRESHKAFE. Операция по карте ****8519,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,26.06.2025,12:31,Рестораны и кафе,"197,00","160 070,43"
10,NaN,NaN,NaN,NaN,NaN,26.06.2025,313600,MOSCOW FRESHKAFE. Операция по карте ****8519,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,26.06.2025,09:18,Рестораны и кафе,"45,00","160 267,43"
12,NaN,NaN,NaN,NaN,NaN,26.06.2025,807632,MOSCOW FRESHKAFE. Операция по карте ****8519,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,25.06.2025,21:26,Супермаркеты,"259,98","160 312,43"

In [39]:
qwe =pd.DataFrame(df.columns).T

In [43]:
qwe.columns = df.columns

In [45]:
qwe

   27.06.2025  18:57  Перевод на карту  +92 364,00  251 759,36
0  27.06.2025  18:57  Перевод на карту  +92 364,00  251 759,36

In [49]:
df = pd.concat([qwe, df])

In [51]:
df

,27.06.2025,18:57,Перевод на карту,"+92 364,00","251 759,36"
0,27.06.2025,18:57,Перевод на карту,"+92 364,00","251 759,36"
0,27.06.2025,076494,Перевод от М. Андрей Борисович. Операция по карте,NaN,NaN
1,NaN,NaN,****8519,NaN,NaN
2,27.06.2025,18:35,Супермаркеты,"429,07","159 395,36"
3,27.06.2025,330631,MOSCOW PYATEROCHKA (191). Операция по карте,NaN,NaN
4,NaN,NaN,****8519,NaN,NaN
5,27.06.2025,13:37,Рестораны и кафе,"201,00","159 824,43"
6,27.06.2025,210697,MOSCOW FRESHKAFE. Операция по карте ****8519,NaN,NaN
7,27.06.2025,09:26,Рестораны и кафе,"45,00","160 025,43"
8,27.06.2025,211097,MOSCOW FRESHKAFE. Операция по карте ****8519,NaN,NaN
9,26.06.2025,12:31,Рестораны и кафе,"197,00","160 070,43"
10,26.06.2025,313600,MOSCOW FRESHKAFE. Операция по карте ****8519,NaN,NaN
11,26.06.2025,09:18,Рестораны и кафе,"45,00","160 267,43"
12,26.06.2025,807632,MOSCOW FRESHKAFE. Операция по карте ****8519,NaN,NaN
13,25.06.2025,21:26,Супермаркеты,"259,98","160 312,43"